<div class="row">
    <div class="col-2 py-5">
        <h2 class="h2">{{header.title}}</h2>
    </div>

    <div class="col-7"></div>

    <div class="col-3">
        {{#with header.button}}
        <a href="{{href}}" class="btn btn-outline-secondary float-end mt-5">{{text}}</a>
        {{/with}}
    </div>
</div>
<hr class="mb-5">

<div>
    {{#each goodsBlock}}
    {{> cartGoodsItem}}
    {{/each}}
</div>
<hr class="my-5">

{{#with total}}
<div class="row mb-5">

    <div class="col-4">
        <h4 class="h4">{{title}}</h4>
        <h3 class="h3">{{amount}}</h3>
    </div>

    <div class="col-4"></div>

    <div class="col-4 ps-5">
        <div class="mb-2">
            {{#with buttons.[0]}}
            <a href="{{link}}" class="btn btn-success">{{text}}</a>
            {{/with}}
        </div>
        <div>
            {{#with buttons.[1]}}
            <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
            {{/with}}
        </div>
    </div>

</div>
{{/with}}
<hr>

{{#with goodsOtherBlock}}
<div class="mt-5">
    <h4 class="h4 text-center pb-2">{{title}}</h4>
    <div class="row">
        {{#each cards}}
        <div class="col-4">
            {{> shopcard}}
        </div>
        {{/each}}
    </div>
</div>
{{/with}}
<hr class="my-5">

{{#with subscribe}}
<div class="row text-bg-dark mb-5">

    <div class="col-6">
        <h2 class="h2 pt-2 mb-4">{{header}}</h2>
        <p class="pb-0">{{description}}</p>
    </div>



    <div class="col-6">
        <div class="pt-5">
            {{#each buttons}}
            <a href="{{link}}" class="btn btn-primary float-end me-2">{{text}}</a>
            {{/each}}
        </div>

    </div>

</div>
{{/with}}