<main>

    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    {{#with heading.main}}
                    <h1 class="text-capitalize">{{title}}</h1>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button class="btn btn-primary">{{solid}}</button>
                    <div>
                        <br>
                        <button type="button" class="btn btn-outline-primary">{{outline}}</button>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    {{#with heading.second}}
                    <h1 class=" text-capitalize">{{title}}</h1>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button class="btn btn-secondary">{{solid}}</button>
                    <div>
                        <br>
                        <button type="button" class="btn btn-outline-secondary">{{outline}}</button>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    {{#with heading.subblock}}
                    <h1 class=" text-capitalize">{{title}}</h1>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button class="btn btn-dark">{{solid}}</button>
                    <div>
                        <br>
                        <button type="button" class="btn btn-outline-dark">{{outline}}</button>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with nested_display}}
            <h1>{{title}}</h1>
            <div class="card">
                <div class="card-body">
                    {{#with children_display}}
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                    {{#with button}}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/with}}
                </div>
                {{/with}}
            </div>
            <br>
            <h6 style=>{{header_text}}</h6>
            {{#with button}}
            <div>
                <button class="btn btn-info">{{text}}</button>
            </div>
            {{/with}}
        </div>
        {{/with}}
    </div>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with paragraph}}
            <p class="text-uppercase">{{title}}</p>
            <p class="text-lowercase">{{text}}</p>
            {{#with button}}
            <button class="btn btn-link">{{text}}</button>
            {{/with}}
            <div class="card-body">
                <ul>
                    <li>
                        {{#with list_name.[0]}}
                        <button class="btn btn-link">{{text}}</button>
                        {{/with}}
                    </li>
                    <li>
                        {{#with list_name.[1]}}
                        <button class="btn btn-link">{{text}}</button>
                        {{/with}}
                    </li>
                </ul>
            </div>
            {{/with}}
        </div>

    </div>

</main>